@font-face {
    font-family: 'Vazir';
    src: url('Vazirmatn-Regular.woff2') format('woff2');
}

body {
    font-family: 'Vazir', sans-serif;
    text-align: center;
    background-color: #e3f2fd;
    direction: rtl;
    color: #000;
}

.container {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(33, 150, 243, 0.2);
    border-radius: 10px;
    border: 2px solid #2196f3;
}

h2 {
    color: #1565c0;
}

.inputs, .outputs {
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: right;
}

label {
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #2196f3;
    border-radius: 5px;
    font-family: 'Vazir', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #e3f2fd;
    outline: none;
}

input:focus, select:focus {
    border-color: #1565c0;
    background-color: #bbdefb;
}

.output-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

formula {
    width: 100px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    min-height: 25px;
    border-radius: 5px;
    border: 2px solid #2196f3;
    background-color: #bbdefb;
    color: #000;
}


.normal { background-color: #c8e6c9; border-color: #2e7d32; color: #1b5e20; }
.warning { background-color: #fff9c4; border-color: #fbc02d; color: #f57f17; }
.danger { background-color: #ffcdd2; border-color: #d32f2f; color: #b71c1c; }
.error { background-color: #ffcdd2; border-color: #d32f2f; color: #b71c1c; }


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.svg-image {
    max-width: 50%;
}